{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Купи кровать</title>

        <link href="{% static  "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static  "font-awesome/font-awesome-4.6.2/css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static  "css/productbox.css" %}" rel="stylesheet">
        <link href="{% static  "css/product-card.css" %}" rel="stylesheet">
        <link href="{% static  "css/menu.css" %}" rel="stylesheet">
    </head>
<body>
    {% include  'navigation/base.html' %}

    {% block goods-grid %}
    {% endblock %}

    {% block product_card %}
    {% endblock %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static  "bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>