{% block navigation %}
    <div class="menu">
        <div class="container">
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li class="active menu_column">
                        <a href="/sale" class="menu_item main-menu">
                            Акции
                        </a>
                    </li>
                    <li class="dropdown menu_column">
                        <a href="/beds" class="menu_item main-menu">
                            Кровати
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Стандартные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Двухъярусные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    С коваными элементами
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu_column">
                        <a href="/mattresses" class="menu_item main-menu">
                            Матрацы
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Серия "Типо"
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Серия "Примо"
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Серия "Рикко"
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Серия "Уно"
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Наматрасники
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu_column">
                        <a href="/chests" class="menu_item main-menu">
                            Комоды и тумбы
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Прикроватные тумбы
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Комоды
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Тумбы ТВ
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Обувницы
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu_column">
                        <a href="/cupboards" class="menu_item main-menu">
                            Шкафы
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Книжные шкафы
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Шкафы гардеробные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Антресоли
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Буфеты для кухни
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Шкафы для верхней одежды
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Распашные шкафы для одежды
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu_column">
                        <a href="/tables-and-chairs" class="menu_item main-menu">
                            Столы и стулья
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Столы письменные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Столы обеденные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Столы для макияжа
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Журнальные столики
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Стулья
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Уголки кухонные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu_item sub-menu">
                                    Табуреты
                                </a>
                            </li>
                      </ul>
                    </li>
                    <li class="menu_column">
                        <a href="/contacts" class="menu_item main-menu">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}